@model academiadospeixinhoscloud.Models.Atividade

@{
    ViewData["Title"] = "Eliminar Atividade";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <h1 class="text-center mb-4">Eliminar Atividade</h1>
    <div class="alert alert-warning text-center" role="alert">
        <h3 class="alert-heading">Tem a certeza que deseja eliminar esta atividade?</h3>
        <p>Esta ação não pode ser desfeita.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Nome:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>

                        <dt class="col-sm-4">Descrição:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Descricao)</dd>

                        <dt class="col-sm-4">Preço:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Preco)</dd>

                        <dt class="col-sm-4">Atividade válida:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Valida)</dd>

                        <dt class="col-sm-4">Professor:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Professor)</dd>

                        <dt class="col-sm-4">Auxiliar:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Auxiliar)</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <form asp-action="Delete" method="post" class="text-right">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a asp-action="Index" class="btn btn-secondary ml-2">Voltar à Lista</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
