@model academiadospeixinhoscloud.Models.Pai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroUtente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroUtente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoradaFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoradaFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidadeBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomesCriancas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomesCriancas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
