@model academiadospeixinhoscloud.Models.Subscricao

@{
    ViewData["Title"] = "Detalhes da Subscrição";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <h1>Detalhes da Subscrição</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Nome:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

        <dt class="col-sm-3">Preço:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Preco)</dd>

        <dt class="col-sm-3">Valida:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Valida ? "Sim" : "Não")</dd>

        <dt class="col-sm-3">Descrição:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Descricao)</dd>

        <dt class="col-sm-3">Data de Início:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DataInicio)</dd>

        <dt class="col-sm-3">Data de Fim:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DataFim)</dd>

        <dt class="col-sm-3">Nomes das Crianças:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NomesCriancas)</dd>
    </dl>
    <div class="text-right">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
